.title {
    display: none;
}

@media (min-width: 600px) {
    .title {
        display: block;
    }
}

.global-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.search {
    width: 400px;
    margin: 20px;
    color: white;
}

.search.searchIcon {
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.toolbar {
    left: 75vw;
    justify-content: center;
    width: 400px;
    height: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    background-color: #559fff;
    z-index: 2;
}
