.title {
    display: none;
}

@media (min-width: 600px) {
    .title {
        display: block;
    }
}

.global-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.search {
    width: auto;
}

.search.searchIcon {
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.search .inputRoot {
    color: inherit;
}

.search .inputInput {
    padding-left: 4px;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 80%;
}

@media (min-width: 960px) {
    .search {
        width: auto;
    }
    .search .inputInput {
        width: 20ch;
    }
}

.toolbar {
    left: 80vw;
    justify-content: center;
    width: 300px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    background-color: #559fff;
    z-index: 99;
}
