.chip {
    margin: 5px 5px 5px 0;
    /* width: 100px; */
  }

  .close-button-container {
    position: absolute;
    z-index: 2;
  }
  
  .close-button {
    color: white;
    background-color: black;
    opacity: 1;
  }

  .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .spacing {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .details {
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 2;
    width: 300px;
  }

  .feedback {
  height: 10px;
  }

  .feedback-form {
    position: 'relative'
  }

  .comments {
    color: blue;
    text-align: center;
    font-size: 11px;
  }

  .modal {
    position: absolute;
    top: 155px;
    left: 10px;
    z-index: 2;
    width: 300px;
    height: auto; /* Set height to auto to adjust based on content */
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }

