.elements-grid {
    display: grid;
}

.search-container {
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    height: fit-content;
    margin-top: 20px;
    margin-left: calc(100% - 300px - 20px);
    z-index: 2;
}

.card-container {
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
}
