.navbar {
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem calc((100vw - 1000px) / 2);
    z-index: 12;
}

.navbar__logo {
    font-size: 1.5rem;
}

.navbar__menu {
    display: flex;
}

.navbar__menu-item {
    margin-left: 1rem;
}

.welcome-message {
    padding: 2rem;
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 50px;
}
/* Added CSS Components */
.button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

disabled {
        color: grey;
        opacity: 0.7;
        cursor: default;
    }


. center {
    text-align:center;
}

.bg {
background-color: #f2f2f2;
}