.navbar {
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem calc((100vw - 1000px) / 2);
    z-index: 12;
}

.navbar__logo {
    font-size: 1.5rem;
}

.navbar__menu {
    display: flex;
}

.navbar__menu-item {
    margin-left: 1rem;
}

.welcome-message {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}