video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
body
{
    overflow:hidden;
    background-color:#000030;
    background-size:100%;
    background-position:center;

}
.hero-container {
    background: url('../../images/img_10.jpg') center center/cover no-repeat;
    height: 90vh;
    margin-top: 0vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    object-fit: contain;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: auto;
        background-position: right;
    }
}
@media  screen and (max-width: 960px)  {
}

@media screen and (max-width: 760px) {
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }

}


